{{ define "inicio"}}
{{template "cabecera"}}


<a name="" id="" class="btn btn-primary" href="/crear" role="button">Agregar empleado</a>
      <table class="table">
        <thead>
            <tr>
                <th>jenny</th>
                <th>mesa</th>
                <th>ayuda</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">jenny</td>
                <td>,esa</td>
                <td>ayuda</td>
            </tr>
            <tr>
                <td scope="row">hekllp</td>
                <td>jenny</td>
                <td>mesa</td>
            </tr>
        </tbody>
      </table>
  </body>
</html>

{{template "pie"}}
{{end}}